.form{
    margin: 0 auto !important;  
} 

.btn2{
    margin-top: 20px !important;
}

.edit{
    margin-top: 20px !important;
    margin-left: 100px !important;
}

.box{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.widths{
    background-color: palevioletred;
    padding: 20px;
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.mr{
    margin-left: 25px !important;
}